<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <h1>add_airplane()</h1>
    <form class="form_wrapper" action="/#somethinghere?" method="method_name">
        <div class='form_content'>
            <div class="form_container">
                <div class='form_column'>
                    <div class="form_group">
                        <label for="airlineID">Airline ID:</label>
                        <input id="airlineID" type="text" name="airlineID" placeholder="United">
                    </div>
                    <div class="form_group">
                        <label for="speed">Speed:</label>
                        <input id="speed" type="number" name="speed" placeholder="345">
                    </div>
                    <div class="form_group">
                        <label for="maintenanced">Maintained:</label>
                        <input id="maintenanced" list="maintenanced_options" name="maintenanced" placeholder="NULL">
                        <datalist id="maintenanced_options">
                            <option value="TRUE"></option>
                            <option value="FALSE"></option>
                            <option value="NULL"></option>
                        </datalist>
                    </div>
                    <div class="form_group">
                        <label for="neo">Neo:</label>
                        <input id="neo" type="text" name="neo" placeholder="TRUE">
                    </div>
                </div>
                <div class='form_column'>
                    <div class="form_group">
                        <label for="tail_num">Tail Num:</label>
                        <input id="tail_num" type="text" name="tail_num" placeholder="nk780b">
                    </div>
                    <div class="form_group">
                        <label for="locationID">Location ID:</label>
                        <input id="locationID" type="text" name="locationID" placeholder="port 190">
                    </div>
                    <div class="form_group">
                        <label for="model">Model:</label>
                        <input id="model" list="model_options" name="model" placeholder="NULL">
                        <datalist id="model_options">
                            <option value="NULL">
                        </datalist>
                    </div>
                </div>
                <div class='form_column'>
                    <div class="form_group">
                        <label for="seat_capacity">Seat Cap:</label>
                        <input id="seat_capacity" type="number" name="seat_capacity" placeholder="120">
                    </div>
                    <div class="form_group">
                        <label for="plane_type">Plane Type:</label>
                        <input id="plane_type" list="plane_type_options" name="plane_type" placeholder="Airbus">
                        <datalist id="plane_type_options">
                            <option value="Airbus">
                            <option value="Boeing">
                            <option value="NULL">
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="form_buttons">
                <button type="cancel">Cancel</button>
                <button type="submit">Add</button>
            </div>
        </div>
    </form>
</body>