<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <h1>alternate_airports()</h1>
    <table border="1">
        <thead>
            <tr>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>num_aiports</th>
                <th>airport_code_list</th>
                <th>airport_names_list</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.city }}</td>
                <td>{{ row.state }}</td>
                <td>{{ row.country }}</td>
                <td>{{ row.num_airports }}</td>
                <td>{{ row.airport_code_list }}</td>
                <td>{{ row.airport_names_list }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="form_wrapper" action="/#somethinghere?" method="method_name">
        <div class="form_buttons">
                <button type="submit">Return</button>
            </div>
        </div>
    </form>
</body>