<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <h1>flights_on_the_ground()</h1>
    <form class="form_wrapper" action="/#somethinghere?" method="method_name">
        <div class='form_content'>
            <div class="form_container">
                <div class='form_column'>
                    <div class="form_group">
                        <label for="airportID">Airport ID:</label>
                        <input id="airportID" type="text" maxlength="3" name="airportID" placeholder="JFK">
                    </div>
                    <div class="form_group">
                        <label for="state">State:</label>
                        <input id="state" type="text" name="state" placeholder="New York">
                    </div>
                </div>
                <div class='form_column'>
                    <div class="form_group">
                        <label for="airport_name">Airport Name:</label>
                        <input id="airport_name" type="text" name="airport_name" placeholder="John F Kennedy International">
                    </div>
                    <div class="form_group">
                        <label for="country">Country:</label>
                        <input id="country" type="text" name="country" maxlength="3" placeholder="USA">
                    </div>
                </div>
                <div class='form_column'>
                    <div class="form_group">
                        <label for="city">City:</label>
                        <input id="city" type="text" name="city" placeholder="New York">
                    </div>
                    <div class="form_group">
                        <label for="locationID">Location ID:</label>
                        <input id="locationID" type="text" name="locationID" placeholder="port_33">
                    </div>
                </div>
            </div>
            <div class="form_buttons">
                <button type="cancel">Cancel</button>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>