<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <h1>flights_on_the_ground()</h1>
    <table border="1">
        <thead>
            <tr>
                <th>departing_from</th>
                <th>num_flights</th>
                <th>flight_list</th>
                <th>earliest_arrival</th>
                <th>latest_arrival</th>
                <th>airplane_list</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.departing_from }}</td>
                <td>{{ row.num_flights }}</td>
                <td>{{ row.flight_list }}</td>
                <td>{{ row.earliest_arrival }}</td>
                <td>{{ row.latest_arrival }}</td>
                <td>{{ row.airplane_list }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="form_wrapper" action="/#somethinghere?" method="method_name">
        <div class="form_buttons">
                <button type="submit">Return</button>
            </div>
        </div>
    </form>
</body>