<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <a href="{{url_for('api_add_airplane')}}">add_airplane()</a>
    <br/>
    <a href="{{url_for('api_add_airport')}}">add_airport()</a>
    <br/>
    <a href="{{url_for('api_add_person')}}">add_person()</a>
    <br/>
    <a href="{{url_for('alternate_airports')}}">alternate_airports()</a>
    <br/>
    <a href="{{url_for('api_assign_pilot')}}">assign_pilot()</a>
    <br/>
    <a href="{{url_for('api_flight_landing')}}">flight_landing()</a>
    <br/>
    <a href="{{url_for('api_flight_takeoff')}}">flight_takeoff()</a>
    <br/>
    <a href="{{url_for('flights_in_the_air')}}">flights_in_the_air()</a>
    <br/>
    <a href="{{url_for('flights_on_the_ground')}}">flights_on_the_ground()</a>
    <br/>
    <a href="{{url_for('api_toggle_pilot_license')}}">grant_or_revoke()</a>
    <br/>
    <a href="{{url_for('api_offer_flight')}}">offer_flight()</a>
    <br/>
    <a href="{{url_for('api_passengers_board')}}">passengers_board()</a>
    <br/>
    <a href="{{url_for('api_passengers_disembark')}}">passengers_disembark()</a>
    <br/>
    <a href="{{url_for('people_in_the_air')}}">people_in_the_air()</a>
    <br/>
    <a href="{{url_for('people_on_the_ground')}}">people_on_the_ground()</a>
    <br/>
    <a href="{{url_for('api_recycle_crew')}}">recycle_crew()</a>
    <br/>
    <a href="{{url_for('api_retire_flight')}}">retire_flight()</a>
    <br/>
    <a href="{{url_for('route_summary')}}">route_summary()</a>
    <br/>
    <a href="{{url_for('api_simulation_cycle')}}">simulation_cycle()</a>

</body>