.form_wrapper {
    display: flex;
    justify-content: left;
}
  
.form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.form_container {
    display: flex;
    gap: 3rem;
}

.form_column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form_group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    padding-left: 2rem;
}

label {
    width: 100px;
    text-align: right;
    white-space: nowrap;
}

input {
    height: 1.5rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}

select {
    height: 1.5rem;
    line-height: 1.5rem;
    box-sizing: border-box;
}

.form_buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }