<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Airline Management System</title>
</head>
<body>
    <h1>passengers_disembark()</h1>
    <form class="form_wrapper" action="/passengers_disembark" method="POST">
        <div class="form_box">
            <div class='form_content'>
                <div class="form_container">
                    <div class='form_column'>
                        <div class="form_group">
                            <label for="flightID">Flight ID:</label>
                            <input id="flightID" type="text" name="flightID" placeholder="dl_10">
                        </div>
                    </div>
                </div>
                <div class="form_buttons">
                    <button type="button" onclick="window.location.href='/'">Cancel</button>
                    <button type="submit">Disembark</button>
                </div>
                {% if success == False %}
                <div class="error-message">
                    {{ error }}
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</body>