<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <h1>people_on_the_ground()</h1>
    <table border="1">
        <thead>
            <tr>
                <th>departing_from</th>
                <th>airport</th>
                <th>airport_name</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>num_pilots</th>
                <th>num_passengers</th>
                <th>joint_pilots_passengers</th>
                <th>persons_list</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.departing_from }}</td>
                <td>{{ row.airport }}</td>
                <td>{{ row.airport_name }}</td>
                <td>{{ row.city }}</td>
                <td>{{ row.state }}</td>
                <td>{{ row.country }}</td>
                <td>{{ row.num_pilots }}</td>
                <td>{{ row.num_passengers }}</td>
                <td>{{ row.joint_pilots_passengers }}</td>
                <td>{{ row.persons_list }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="form_wrapper" action="/#somethinghere?" method="method_name">
        <div class="form_buttons">
            <button type="button" onclick="window.location.href='/'">Return</button>
        </div>
    </form>
</body>