<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People in the Air</title>
</head>
<body>
    <h1>Currently Airborne People</h1>
        <table border="1">
            <tr>
                {% for key in ppl[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for person in ppl %}
            <tr>
                {% for value in person.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    <p><a href="{{ url_for('index') }}">Back to Home</a></p>
</body>
</html>