<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <h1>recycle_crew()</h1>
    <form class="form_wrapper" action="/recycle_crew" method="POST">
        <div class='form_content'>
            <div class="form_container">
                <div class='form_column'>
                    <div class="form_group">
                        <label for="flightID">Flight ID:</label>
                        <input id="flightID" type="text" name="flightID" placeholder="ba_51">
                    </div>
                </div>
            </div>
            <div class="form_buttons">
                <button type="cancel">Cancel</button>
                <button type="submit">Recycle</button>
            </div>
        </div>
    </form>
</body>