<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Airline Management System</title>
</head>
<body>
    <h1>route_summary()</h1>
    <table border="1">
        <thead>
            <tr>
                <th>route</th>
                <th>num_legs</th>
                <th>leg_sequence</th>
                <th>route_length</th>
                <th>num_flights</th>
                <th>flight_list</th>
                <th>airport_sequence</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.route }}</td>
                <td>{{ row.num_legs }}</td>
                <td>{{ row.leg_sequence }}</td>
                <td>{{ row.route_length }}</td>
                <td>{{ row.num_flights }}</td>
                <td>{{ row.flight_list }}</td>
                <td>{{ row.airport_sequence }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="form_wrapper" action="/#somethinghere?" method="method_name">
        <div class="form_buttons">
            <button type="button" onclick="window.location.href='/'">Return</button>
        </div>
    </form>
</body>